/*body { height: 100vh; padding:0; margin:0; display:flex; align-items:center; justify-content:center; flex-direction:column; }*/
/*#colorPicker { height:70%; display:flex; justify-content:center; align-items:center; max-width:800px; }*/
/*#info { display:block; background-color:#ddd; position:absolute; top:0px; left:50%; border:1px solid #333; font-size:12px; text-align:center; padding:4px; border-radius:6px; }*/
/*input[type=range][orient=vertical] { writing-mode:bt-lr; -webkit-appearance:slider-vertical; }*/
/*.brightness { height:30%; }*/
/*.brightness input { height:200px; }*/

input[type=range]{width:100%;margin:3.45px 0;background-color:transparent;-webkit-appearance:none}input[type=range]:focus{outline:0}input[type=range]::-webkit-slider-runnable-track{background:#484d4d;border:0;width:100%;height:25.1px;cursor:pointer}input[type=range]::-webkit-slider-thumb{margin-top:-3.45px;width:22px;height:32px;background:rgba(255,67,91,.93);border:2px solid #646464;cursor:pointer;-webkit-appearance:none}input[type=range]:focus::-webkit-slider-runnable-track{background:#545a5a}input[type=range]::-moz-range-track{background:#484d4d;border:0;width:100%;height:25.1px;cursor:pointer}input[type=range]::-moz-range-thumb{width:22px;height:32px;background:rgba(255,67,91,.93);border:2px solid #646464;cursor:pointer}input[type=range]::-ms-track{background:0 0;border-color:transparent;border-width:3.45px 0;color:transparent;width:100%;height:25.1px;cursor:pointer}input[type=range]::-ms-fill-lower{background:#3c4040;border:0}input[type=range]::-ms-fill-upper{background:#484d4d;border:0}input[type=range]::-ms-thumb{width:22px;height:32px;background:rgba(255,67,91,.93);border:2px solid #646464;cursor:pointer;margin-top:0}input[type=range]:focus::-ms-fill-lower{background:#484d4d}input[type=range]:focus::-ms-fill-upper{background:#545a5a}@supports (-ms-ime-align:auto){input[type=range]{margin:0}}

body, html { height: 100%; padding:0; margin:0; }
.main { height: 100%; }

.nav-container { max-width:600px; margin:0 auto; }
.tab-content, .tab-pane { height:100%; }

#colorPicker { display:flex; justify-content:center; align-items:center; padding-top: 40px; }

#brightness { margin: 40px 80px; text-align:center;  }
#brightness h5 { color:#333; text-align:center; }
#brightnessBox { width:150px; height:150px; border:2px solid #666; margin:20px auto 0 auto; border-radius:8px; }